city_inspections.json
requirements.txt
data_quality_proj.py
read_web_data.py
/__pycache__
/city_inspections_json_bad_records.parquet
/src
/.pytest_cache
/.ruff_cache
read_data_requirements.py
write_bad_records.py
test_functions2.py
.coverage